/* Global */
body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background: #f4f4f4 !important;
}
.content{
	width: 80%;
	margin: auto;
	background: white;
	padding: 20px;
}
h1{
	margin-top: 0 !important;
}
ul{
	margin: 0;
	padding: 0;
}

label{
	color: #5792c4;
}
.navbar{
	background: #88d1b1;
}
.navbar #title{
	color: white;
	margin-top: 15px;
	float:left;
	margin-left: 25px;
}
.navbar-brand{
	background: #63b08f;
}
.navbar-brand p{
	font-size: 40px;
	color: white;
}

.btn{
	background: #88d1b1;
	color: white;
	
	width: 200px;
}
.image-preview{
	width: 50%;
}

.container{
    margin-top:20px;
}
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}